

main.main {
    background-color: rgb(255, 255, 255);
    
    padding-top: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    div.presentation {
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            margin-top: 20px;
            font-size: 2.5rem;
            font-weight: 700;
            color: rgb(72, 105, 151);
        }
        div.imagewrapper > img{
            border-radius: 20px;
        }
    }
    section.ExchangingSection {
        margin-top: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h1 {
            padding: 1rem;
            font-size: 2.5rem;
            background-color: black;
            color: white;
        }
        div.BoxExchange {
            margin-bottom: 20rem;
            margin-top: 4rem;
            display: grid;
            grid-template-columns: 2fr 1fr 2fr;
            grid-template-rows: 1fr 1fr;
            span {
                align-items: center;
                padding: 1rem;
                display: flex;
                p {
                    font-size: 2rem;
                }
                select {
                    margin-left: 0.5rem;
                    padding: 1rem 2rem 1rem 2rem;
                    outline: none;
                    border: none;
                    border-radius: 10px;
                    font-size: 1.2rem;
                }
            }
            input {
                outline: 1px solid rgb(152, 152, 152);
                border: none;
                width: 70%;
                height: 50%;
                margin: auto;
                text-align: center; 
                font-size: 1.5rem;
            }
            input.disabled {
                outline: 1px solid rgb(152, 152, 152);
                background-color: rgb(250, 250, 250);
            }
            button {
                margin: auto;
                grid-row: auto / span 2;
                border: none;
                background: none;
                transition: all 300ms ease-out;
                cursor: pointer;
                &:hover {
                    transform: rotate(180deg);
                }
                &:active {
                    transform: rotate(-190deg);
                    transform: scale(1.3);
                }
            }
        }
    }
}