main.main {
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    div.presentation {
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            margin-top: 20px;
            font-size: 2.5rem;
            font-weight: 700;
            color: rgb(72, 105, 151);
        }
        div.imagewrapper > img{
            border-radius: 20px;
        }
    }
    section.ExchangingSection {
        margin-top: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h1 {
            padding: 1rem;
            font-size: 2.5rem;
            background-color: black;
            color: white;
        }
        div.BoxExchange {
            display: grid;
            grid-template-columns: 2fr 1fr 2fr;
            grid-template-rows: 1fr 1fr;
            span {
                display: flex;
            }
        }
    }
}